In [1]:
import psycopg2
import pandas as pd

In [6]:
try: 
    conn = psycopg2.connect("host = 127.0.0.1 dbname = myfirstdb user=postgres password = root") 
except psycopg2.Error as e:
    print(e)
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print(e)


conn.set_session(autocommit = True)

##### Creating a table in myfirstdb

In [7]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS students ( student_id int, name varchar,\
        age int, gender varchar, subject varchar, marks int )"
)
except psycopg2.Error as e:
    print(e)

####  insert data into students table

In [8]:
try:
    cur.execute(" INSERT INTO students (student_id, name, age, gender, subject, marks)\
        VALUES (%s, %s, %s, %s, %s, %s)",\
            (1,"RAj", 23,  "MALE", "Python", 90))
except psycopg2.Error as e:
    print(e)


try:
    cur.execute(" INSERT INTO students (student_id, name, age, gender, subject, marks)\
        VALUES (%s, %s, %s, %s, %s, %s)",\
            (2,"TAK", 25,  "MALE", "C", 86))
except psycopg2.Error as e:
    print(e)

#### VALIDATE the data

In [7]:
try:
    cur.execute("SELECT * FROM students; ")
except psycopg2.Error as e:
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'RAj', 23, 'MALE', 'Python', 90)
(2, 'TAK', 25, 'MALE', 'C', 86)

### Closing the connection

In [8]:
cur.close()
conn.close()

In [ ]:
def create_db():
    #connect default DB
    conn = psycopg2.connect("host = 127.0.0.1 dbname = postgres user=postgres password = root") 
    cur = conn.cursor()
    conn.set_session(autocommit = True)
    
    #Create db
    cur.execute("DROP DATABASE accounts")
    cur.execute("CREATE DATABASE accounts")

    #close connection to default db
    conn.close()

#connect to accounts db
    conn = psycopg2.connect("host = 127.0.0.1 dbname = accounts user=postgres password = root") 
    cur = conn.cursor()

    return conn, cur

In [12]:
AccountsData = pd.read_csv("AccountsData.csv")
AccountsSeries = pd.read_csv("AccountSeries.csv")
AccountsCountry = pd.read_csv("AccountsCountry.csv")

In [15]:
AccountsCountry.columns

Index(['Country Code', ' Short Name', ' Table Name', ' Long Name',
       ' Currency Unit'],
      dtype='object')

In [ ]:
cur,conn = create_db()

In [ ]:
accounts_country_table =('''CREATE TABLE IF NOT EXISTS accountscountry (
    country_code VARCHAR PRIMARY KEY,
    short_name VARCHAR,
    table_name VARCHAR,
    long_name VARCHAR,
    currency VARCHAR
    )''')

In [ ]:
cur.execute(accounts_country_table)
conn.commit()

In [16]:
AccountsData.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1995', '2000', '2005', '2010', '2014'],
      dtype='object')

In [ ]:
accounts_data_table_create =('''CREATE TABLE IF NOT EXISTS accountsdata (
    country_name VARCHAR,
    scountry_code VARCHAR,
    indicator_name VARCHAR,
    indicator_code VARCHAR,
    year_1995 NUMERIC,
    year_2000 NUMERIC,
    year_2005 NUMERIC,
    year_2010 NUMERIC,
    year_2014 NUMERIC
    )''')

cur.execute(accounts_data_table_create )
conn.commit()

In [17]:
AccountsSeries.columns

Index(['Series Code', ' Topic', ' Indicator Name', ' Short Defination'], dtype='object')

In [ ]:
create_accounts_series_table =('''CREATE TABLE IF NOT EXISTS accountsseries (
    series_code VARCHAR,
    topic VARCHAR,
    indicator_name VARCHAR,
    short_defination VARCHAR
    )''')

cur.execute(create_accounts_series_table)
conn.commit()